<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @title.nil? ? 'Boomslang Fitness' : @title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.9.0/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.9.0/css/react-select.css" />

    <script>
      document.addEventListener('turbolinks:load', function() {
        $('[data-toggle="popover"]').popover({html: true});
      });
      $(document).ready(function(){
        $('[data-toggle="popover"]').popover({html: true});
      });
    </script>
  </head>

  <body>

    <%= yield %>

    <% if @footer %>
      <div id='footer'>
      </div>
    <% end %>

  </body>
</html>